@mixin w1440 {
  @media screen and (max-width: 1919px) {
    @content;
  }
}
@mixin w1200 {
  @media screen and (max-width: 1439px) {
    @content;
  }
}
@mixin w1024 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin w768 {
  @media screen and (max-width: 1023px) {
    @content;
  }
}
@mixin w480 {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin w360 {
  @media screen and (max-width: 479px) {
    @content;
  }
}
@mixin w320 {
  @media screen and (max-width: 359px) {
    @content;
  }
}
