$charcoalBlue: #17252a; // rgba(23, 37, 42, 1);
$aquamarine: #2b7a78; // rgba(43, 122, 120, 1);
$softAqua: #3aafa9; // rgba(58, 175, 169, 1);
$paleAqua: #def2f1; // rgba(222, 242, 241, 1);
$paleAquaHover: #bcd8d4;
$pureWhite: #feffff; // rgba(254, 255, 255, 1);
$grey: #959a9d; //rgba(149, 154, 157, 1)
